{% extends 'mainpage/wrapper.html'%}
{% load crispy_forms_tags %}
{%block title%}

Регистрация
{%endblock%}
{% block content %}
<div class="content">
  <div class="container">
    <div class="row justify-content-center">
    <form action="" method="post" class='form-group form' style='padding:10px;margin-bottom: 100px;'>
      {% csrf_token %}
      
      {{ form|crispy }}
      <button type="submit" class='btn btn-success  '>Зарегистрироваться</button>
    </form>
  </div>
</div>
</div> 


{% endblock %}
