{% extends 'mainpage/wrapper.html'%}
{%block title%}
Достижения

{% endblock %}
{% block content %}
<div class="content">
    <div class="container">
        <div class="row">
            <table  class="rewards table table-striped table-dark"  style="text-align: center;"> 
    
                <tbody><tr>
                    <th scope="col">Мэйджоры</th>
                    <th scope="col">Полный список Турниров</th>
                </tr>
                <tr>
                    <td>Четверть финалисты IEM Katowice 2019</td>
                    <td>3 место на ECS Season 6 Finals</td>
                </tr>
                <tr>
                    <td>Участники групповой стадии FACEIT Major 2018</td>
                    <td>2 место на BLAST Pro Series Copenhagen 2018</td>
                </tr>
                <tr>
                    <td>Участники групповой стадии ESL One Cologne 2016</td>
                    <td>3 место на BLAST Pro Series Istanbul 2018</td>
                </tr>
                <tr>
                    <td>Четверть финалисты MLG Columbus 2016</td>
                    <td>3 место на DreamHack Masters Stockholm 2018</td>
                </tr>
                <tr>
                    <td>3 место на DreamHack Open Cluj-Napoca 2015</td>
                    <td>1 место на IEM Oakland 2017</td>
                </tr>
                <tr>
                    <td>Четверть финалисты ESL One Cologne 2015</td>
                    <td>3 место на DreamHack Masters Malmö 2017</td>
                </tr>
                <tr>
                    <td>2 место на ESL One Katowice 2015</td>
                    <td>1 место на IEM Oakland 2016</td>
                </tr>
                <tr>
                    <td>2 место на DreamHack Winter 2014</td>
                    <td>3 место на ESL Pro League Season 4 Finals</td>
                </tr>
                <tr>
                    <td>1 место на ESL One Cologne 2014</td>
                    <td>1 место на SL i-League StarSeries Season 2 Finals</td>
                </tr>
                <tr>
                    <td>2 место на EMS One Katowice 2014</td>
                    <td>2 место на DreamHack ZOWIE Open Summer 2016</td>
                </tr>
                <tr>
                    <td>2 место на DreamHack Winter 2013</td>
                    <td>3 место на ESL Pro League Season 3 Finals</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на DreamHack Masters Malmö 2016</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2 место на Fragbite Masters Season 5 Finals</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3 место на DreamHack Open Cluj-Napoca 2015</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3 место на Gfinity 2015 Champion of Champions</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3 место на ESL ESEA Dubai Invitational 2015</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2 место на Gfinity 2015 Summer Masters 1</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3 место на DreamHack Open Summer 2015</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2 место на FACEIT League 2015 Stage 1 Finals</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3 место на CCS Kick-off Season Finals</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2 место на SLTV StarSeries XII Finals</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2 место на Gfinity 2015 Spring Masters 1</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2 место на ESL One Katowice 2015</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на ASUS ROG Winter 2015</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2 место на MLG X-Games Aspen 2015</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2 место на DreamHack Winter 2014</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на ESL One Cologne 2014</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на DreamHack Summer 2014</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2 место на SLTV StarSeries IX Finals</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на Copenhagen Games 2014</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2 место на EMS One Katowice 2014</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2 место на DreamHack Stockholm SteelSeries CS:GO Invitaional 2014</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2 место на DreamHack Winter 2013</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2 место на RaidCall EMS One Fall 2013 Finals</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3 место на SLTV StarSeries VII Finals</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на DreamHack Bucharest 2013</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на ESEA Invite Season 14 Global Finals</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на SLTV StarSeries VI Finals</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3 место на RaidCall EMS One Summer 2013 Finals</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на DreamHack Summer 2013</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на ESEA Invite Season 13 Global Finals</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на RaidCall EMS One Spring 2013 Finals</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2 место на SLTV StarSeries V Finals</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на Copenhagen Games 2013</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на TECHLABS Cup 2013</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на Mad Catz Vienna</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на NorthCon 2012</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на THOR Open 2012</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на AMD Sapphire CS:GO Invitational</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на DreamHack Winter 2012</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1 место на ESWC 2012</td>
                </tr>
                <tr><td></td>
                    <td>1 место на DreamHack Valencia 2012</td>
                </tr>
            </tbody></table>
        </div>
    </div>
</div>






{% endblock %}
